
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 45%;
  padding: 1%;
}

mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 8rem;
  min-height: 5rem;
  justify-content: center;
}

mat-card-title {
  font-size: 18px;
}

mat-card-subtitle {
  font-size: 14px;
}
